__pycache__

# Ignore everything in the media folder
media/**

# Un-ignore the videos folder and its contents
!media/videos/
!media/videos/main/
!media/videos/main/1080p60/
!media/videos/main/1080p60/Main.mp4
