__pycache__

*.mp4
!Main.mp4
!UART.mp4
!SPI__CPOL0__CPHA0.mp4
!SPI__CPOL0__CPHA1.mp4
!SPI__CPOL1__CPHA0.mp4
!SPI__CPOL1__CPHA1.mp4
!I2C.mp4

*.tex

*.svg
!electron.svg
!home.svg
!nasa.svg
!nature.svg
!robot.svg
!seecs_1.svg
!seecs_2.svg
